services:
  app:
    build:
      context: .
    ports:
      - "8000:8000"
    volumes:
      - ./:/app
    env_file:
      - .env
    depends_on:
      - db
    command: >
      sh -c "python manage.py wait_for_db &&
      python manage.py migrate &&
      python manage.py loaddata exported_data.json &&
      python manage.py runserver 0.0.0.0:8000"


  db:
    image: postgres:15-alpine
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - my_db:/var/lib/postgresql/data
    env_file:
      - .env

volumes:
  my_db:
